* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    font: 24px sans-serif;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;


}

span {
    font-size: small;
}

#match-info {
    text-align: center;

    h3 {
        color: salmon;
    }

    p {
        font-size: smaller;
    }

}

#heroes {
    text-align: left;
    gap: 1rem;

    h3 {
        color: mediumseagreen;
    }

}

.hero {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    padding: 1rem;
}

#enemies {
    text-align: right;

    h3 {
        color: mediumpurple;
    }
}